.section-accueil {
  color: #ffc107;
  padding: 50px 0;
  background: #EFEEF5;
  text-align: center;
  h5{
    color: black;
  }
}
/* table{
    margin: 0px;
    padding: 0px;
  }
  .col h3{
    padding-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin-left: -50px;
  }
  .col p{
    font-size: 8px;
    margin-left: 25px;
    
  }
  .logo img{
    padding-top: 10px;
  }
  .minlogo img{
    padding-bottom: 10px;
  }
  hr{
    width: 10px;
    color: black;
  }
  .titre{
    margin-top: 15px;
  }
  .navbar{
    margin-top: 75px;
  }
  .row h4{
    text-transform: uppercase;
    font-size: 30px;
  }
  .menu{ */
    /* background-color: gray; */
    /* background-color: rgba(128, 128, 12, 0.5);
    margin-top: -16px;
  }
  .nav-link a{
    background-color: skyblue;
  }
  h1{
    margin-left: 22%;
  }

  
  .row-cols-1 p{
    font-size: 20px;
  }
  
  .row-cols-1 h1{
    margin: 20px;
    text-transform: uppercase;
    font-size: 25px;
  }
  .row-cols-1{ */
    /* background-image: url('/assets/img/logominister.png'); */
  /* }
  header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: white;
    z-index: 999; 
  }
  .row{
    margin: 90px;
    margin-left: 50px;
    margin-top: -550px;
  } */

  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, white, white, white);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 40vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  
  
  /* Header content & title & button*/
    
  
  
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  