        <!-- <app-header></app-header>
        <!DOCTYPE html>
         <html lang="en">
         <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
         
         </head>
         
         <body>
          

       
        <div class="row">
         
          <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col offset-3">
              <div class="card m-2">
                <div class="card-body">
                  <h1 class="card-title"><b>POUR OBTENIR VOTRE ATTESTAION :</b></h1> <br><br>
                  <p class="card-text">
                    Le ministére de la fonction publique et de la transformation du secteur public (MFPTSP) vous donne maintenant possible d'effectuer un demande en ligne et d'obtenir la demande en linge via votre adresse mail sans deplace.
                  </p>
                  <p class="card-text"><small class="text-body-secondary"><b>Service</b> offert Ministere de la fonction Pulbique</small></p>
                </div>

              </div>
            </div>


          </div>
        
        </div>
        </body>
         </html>
         
         
         
         
       <app-footer></app-footer> -->
       <!-- <app-header></app-header> -->
       

     <!DOCTYPE html>
     <html lang="en">
     <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> -->
      
      <title>Document</title>
     </head>
    
     <body>
      
       
     

      <!-- Background & animion & navbar & title -->
        <div class="container-fluid">
          <app-head></app-head>
      <!-- Background animtion-->
          <div class="background">
             <div class="cube"></div>
             <div class="cube"></div>
             <div class="cube"></div>
             <div class="cube"></div>
            <div class="cube"></div>
          </div>
      <!-- header -->
      <div>
        <section class="section-accueil">
          <h2>BIENVENUE</h2>
          <h5>SUR LA PLATEFORME DE DEMANDE D'ATTESTATION <br>
            DE NON APPARTENANCE A LA FONCTION PUBLIQUE</h5>
        </section>
      </div>
      <div class="background">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
       <div class="cube"></div>
     </div>
      
         
        </div>
      
     </body>
     </html>
     <app-footer></app-footer>