/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #f1f1f1;
    padding: 1rem;
    border: 1px solid black;
}
form{
    display: flex ;
    flex-direction: column;
    gap: 2rem;
}
form div{
    display: flex;
    flex-direction: column;
}
input{
    width: 250px;
    height: 30px;
}
button{
    padding: .5rem 2rem;
    background-color: rgb(30, 30, 255,0.487);
    border: 0;
    border-radius: 5px;
}
.error{
    color: red;
    font-weight: 600;
}
 */
