


    <table class="table table-striped">
        <thead>
            <th>Prénom et Nom</th>
            <th>Téléphone</th>
            <th>Avis Demande</th>
            <th>Télécharger</th>
        </thead>
        <tbody>
            <tr *ngFor = "let demande of mesDemande">
                <td>{{ demande.demandeurDTO.fullName }} </td>
                <td>{{demande.demandeurDTO.telephone}}</td>
                <td>Cette demande a été {{demande.statut}}</td>
                <td><a routerLink="/download"><img src="/assets/icons/download.png" width="50px" height="40px" alt=""></a></td>
            </tr>
    
        </tbody>
    </table>


    