table{
  margin: -28px;
  padding: 0px;
  
}
.col h3{
  padding-top: 18px;
  font-family: ar;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}
.col p{
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 26px;
  font-family: ar;
  
}
.logo img{
  padding-top: 31px;
  
}
.minlogo img{
  padding-bottom: 10px;
  margin-right: 10px;
  margin-top: 12px;
}
@media screen and (width:360px){
  .col h3{
    padding-top: 10px;
    font-family: ar;
    line-height: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    letter-spacing: 1px;
  }

}

hr{
  width: 10px;
  color: black;
}
.titre{
  margin-top: 15px;
}
.navbar{
  margin: 7px;
    height: 3px;
    margin-right: -20px;
    display: contents;
}
.row h4{
  text-transform: uppercase;
  font-size: 18px;
  margin-top: -34px;
  color: black;
  letter-spacing: 3px;
  margin-right: 150px;
  font-family: ar;
 
}
.menu{
  background-color: #f2f2f2;
  border: 1px solid#f2f2f2;
  height: 40px;
  margin-top: -20px;
}
.nav-link a{
  background-color: skyblue;
}

.body{
    background-repeat: no-repeat;
}

h1{
  margin-left: 22%;
}
.card{
  margin-top: 2%;
  padding: 1%;
}

.row-cols-1 p{
  font-size: 20px;
}

.row-cols-1 h1{
  margin: 20px;
  text-transform: uppercase;
  font-size: 25px;
}
.row-cols-1{
  background-image: url('/assets/img/logominister.png');
}


.section {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  background-color: white;
  z-index: 999; 
  
}
ul li a{
  font-size: 12px;
  color: black;
  margin-right: 1px;
  margin-bottom: 12px;
  font-family: ar;
  letter-spacing: 1px;
}
ul li a:hover{
  color: white;
  background-color: green;
}

.form-control{
  height: 30px;
  margin-top: 2px;
  margin-left: 20px;
}
.navbar-nav{
  margin-left: 120px;
}
button{
  color: white;
  margin-bottom: 10px;
  height: 36px;
}

.fa-search:hover{
  color: greenyellow;
}
.fa-search{
  color: black;
}
.img{
  margin-left: 75px;
}
.img img{
  margin-top: 10px;
}
.avis a{
  color: white;
}
.avis{
  background-color: green;
  border: 1px solid green;
  width: 190px;
  border-radius: 4px 4px 4px 4px;
  font-family: ar;
  letter-spacing: 1px;
  font-size: 15px;
  margin-left: 50px;
}
.avis:hover{
  background-color: #ffc107;
  border: 1px solid #ffc107;
  
}

.avis a:hover{
  color: black;
}
.votre{
  margin-top: 5px;
  margin-left: 30px;
}
.div{
  background-color: #ffc107;
  margin: 10px;
  margin-right: 8px;
  padding: 1px;

}
.div:hover{
  background-color: green;
  color: white;
  border: 1px solid green;
}
.logo{
  margin-top: 10px;
}
.fa-facebook{
  color: black;
}
.fa-brands{
  color:black;
  font-size: 12px;
  
}
.fa-brands:hover{
  color:white;
  
}
.div{
  font-size: 14px;
}
.btn{
  margin: 10px;
}