<app-header></app-header>
<div class="global">
  <ngx-spinner bdColor="rgba(9,2,1,0.8)" size="medium" color="#e1e6fa" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> En cours... </p>
  </ngx-spinner>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
        <!-- <h3 class="h1">Formulaire d'inscription</h3> -->
   <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form [formGroup]="signupForm">
          <h3>Informations Compte</h3>
          <div style="width: 100%;">
            <input type="email" name="email" placeholder="example@gmail.com" class="form_input" formControlName="email" (paste)="onPaste($event)" />
            <div *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
              <span *ngIf="signupForm.controls.email.errors.required">veuillez renseinger votre email!</span>
              <span *ngIf="signupForm.controls.email.errors.pattern">format email incorrect</span>
            </div>
          </div>
          <input type="email" name="confirmemail" formControlName="confirmemail" class="form_input" placeholder="Confirmation Email"
            (paste)="onPaste($event)" required />
          <div *ngIf="signupForm.controls.confirmemail.touched && signupForm.controls.confirmemail.invalid">
            <span *ngIf="signupForm.controls.confirmemail.errors.required">répétez votre email !</span>
            <span *ngIf="signupForm.controls.confirmemail.errors.pattern">format email incorrect</span>
          </div>

          <input type="password" name="password" formControlName="password" class="form_input" placeholder="Mot de Passe" />
          <div *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
            <span *ngIf="signupForm.controls.password.errors.required">veuillez saisir votre mot de passe !</span>
          </div>

          <input type="password" name="confirmpassword" class="form_input" formControlName="confirmpassword"
            placeholder="Répéter Mot de Passe" required/>
          <div *ngIf="signupForm.controls.confirmpassword.touched && signupForm.controls.confirmpassword.invalid">
            <span *ngIf="signupForm.controls.confirmpassword.errors.required">veuillez répéter votre mot de passe!</span>
          </div>
          <button class="btn btn-success" (click)="handleSubmit() ; openSpinner()" [disabled]="(signupForm.invalid)">INCRIRE</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form [formGroup]="signupForm">
          <h3>Informations Etat Civil</h3>
          <div style="display: flex;">
            <div>
              <select id="type" name="type">
                <option value="cat">---typePieces--</option>
                <option value="NIN">CNI</option>
                <option value="Passeport">PassePort</option>
              </select>
            </div>
            <div>
              <!-- <label>NIN/PassePort</label> -->
              <input type="text" name="nin" placeholder="Numéro PassePort ou CNI" class="form_input" formControlName="nin" required />
              <div *ngIf="signupForm.controls.nin.touched && signupForm.controls.nin.invalid">
                <span *ngIf="signupForm.controls.nin.errors.required">renseinger votre cni ou passport!</span>
                <span *ngIf="signupForm.controls.nin.pattern">This field is invalid.</span>
              </div>
            </div>
          </div>

          
          <input class="inp" type="text" name="prenom" placeholder="Prenom" class="form_input" formControlName="prenom" required/>
          <!-- <label>Prénom</label> -->
          <div *ngIf="signupForm.controls.prenom.touched && signupForm.controls.prenom.invalid">
            <span *ngIf="signupForm.controls.prenom.errors.required">veuillez renseinger Prénom !</span>
            <span *ngIf="signupForm.controls.prenom.errors.pattern">This field is invalid.</span>
          </div>

          <input type="text" name="nom" placeholder="nom" class="form_input" formControlName="nom" required="" />
          <!-- <label>Nom</label> -->
          <div *ngIf="signupForm.controls.nom.touched && signupForm.controls.nom.invalid">
            <span *ngIf="signupForm.controls.nom.errors.required">veuillez renseinger votre Nom!</span>
            <span *ngIf="signupForm.controls.nom.errors.pattern">This field is invalid.</span>
          </div>
          <!-- <button>Sign In</button> -->
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Merci</h1>
            <p>Vous utiliserez cet email ainsi que le mot de passe pour vous connectez à votre compte !</p>
            <button class="ghost" id="signIn" style="background-color: rgb(194, 50, 21); color: white;">Retour</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h4>Bienvenue à la plateforme de demande d'attestations</h4>
            <p></p>
            <button class="ghost btn btn-success" id="signUp"
            style="background-color: rgb(6, 99, 9); color: rgb(255, 255, 255);">Suivant</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
  <app-footer></app-footer>