<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="login">
    <form [formGroup]="setPasswordForm" class="form">
      <h2>Modification du Mot de Passe</h2>

      <div class="form-field">
        <label for="login-password"><i class="fa fa-lock"></i></label>
        <input type="password" formControlName="oldPassword" placeholder="Ancient Mot de Passe" required>
        <div *ngIf="setPasswordForm.controls.oldPassword.touched && setPasswordForm.controls.oldPassword.invalid">
          <span *ngIf="setPasswordForm.controls.oldPassword.errors.required">saisir votre ancient mot de passe!</span>
        </div>
        <svg>
          <use href="#svg-check" />
        </svg>
      </div>
      <div class="form-field">
        <label for="login-password"><i class="fa fa-lock"></i></label>
        <input type="password" formControlName="newPassword" placeholder="Nouveau Mot de passe" pattern=".{6,}" required>
        <div *ngIf="setPasswordForm.controls.newPassword.touched && setPasswordForm.controls.newPassword.invalid">
          <span *ngIf="setPasswordForm.controls.newPassword.errors.required">saisir votre nouveau mot de passe!</span>
        </div>
        <svg>
          <use href="#svg-check" />
        </svg>
      </div>
      <div class="form-field">
        <label for="login-password"><i class="fa fa-lock"></i></label>
        <input type="password" formControlName="confirmPassword" placeholder="confirme nouveau mot de passe" pattern=".{6,}" required>
        <div *ngIf="setPasswordForm.controls.confirmPassword.touched && setPasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="setPasswordForm.controls.confirmPassword.errors.required">confirmer votre mot de passe</span>
        </div>
        <svg>
          <use href="#svg-check" />
        </svg>
      </div>

      <button type="submit" class="button" (click)=" handleSubmit() ; checkPassword()" [disabled]="(setPasswordForm.invalid)">
        <div class="arrow-wrapper">
          <span class="arrow"></span>
        </div>
        <p class="button-text">
          Modifier
        </p>
      </button>
    </form>
    <div class="finished">
      <svg>
        <use href="#svg-check" />
      </svg>
    </div>
  </div>

  <svg style="display:none;">
    <symbol id="svg-check" viewBox="0 0 130.2 130.2">
      <polyline points="100.2,40.2 51.5,88.8 29.8,67.5 " />
    </symbol>
  </svg>
</body>

</html>
<app-footer></app-footer>