<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head> -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Bienvenue sur Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public | Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public">
    <title> Bienvenue sur Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public | Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="squelettes/img/logos/favicon.png">
    <!-- plugins -->
    <link rel="stylesheet" href="/assets/plugins/plugins.css">
    <!-- search css -->
    <link rel="stylesheet" href="/assets/search.css">
    <!-- quform css -->
    <link rel="stylesheet" href="/assets/base.css">
    <!-- theme core css -->
    <link href="/assets/styles.css" rel="stylesheet">
    <link href="/assets/styles.scss" rel="stylesheet">





    <!-- custom css -->
    <link href="/assets/custom.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/nav-menu-nav.css"> -->

    <style>
        .dmopMx {
            position: relative;
            width: 64px;
            margin: auto;
            display: none;
        }

        .scroll-to-top {
            font-size: 20px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            position: fixed;
            bottom: 91px;
            right: 37px;
            display: none;
            border-radius: 50%;
            background: #000;
            border: 1px solid #2a2a2a;
            width: 35px;
            height: 35px;
            line-height: 30px;
            z-index: 9999;
            outline: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
        }
    </style><link id="botnation-chatbox-stylesheet" type="text/css" rel="stylesheet" href="https://cbassets.botnation.ai/css/botnation-chatbox.a67f5f5ab45ad19eb2103ff953f0c08d3ba69693.css"></head>
<body>
    <div>
         <header class="header-style1 menu_area-light fixedHeader">

     

            <div class="navbar-default border-bottom border-color-light-white">
            
            <!-- start top search -->
             <div class="top-search bg-secondary">
             <div class="container-fluid px-sm-1-6 px-lg-2-9">
                <form class="search-form" action="#" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="recherche" autocomplete="off" placeholder="Entrez votre recherche ...">
                        <input value="recherche" name="page" type="hidden" placeholder="Recherche" class="search-submit">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
            </div>
            <!-- end top search -->
        
        
        
                <div class="container-fluid px-sm-2-9">
                    
                    
        
                    <div class="row">
                        <div class="col-md-2 sl">
                            
                            
        
                            <div class="senegal-logo">
                                <!-- start logo -->
                                <a href="http://www.fonctionpublique.gouv.sn">
                                    <img id="logo" src="https://fonctionpublique.gouv.sn/IMG/logo/logo-republique-du-senegal.png" alt="logo-republique-du-senegal">
                                </a>
                                <!-- end logo -->
                                <p class="rds">République du Sénégal</p>
                                <p class="pbf"> Un peuple, Un but, Une foi </p>
                                
                            </div>
        
                        </div>
        
                        <div class="col-md-7">
                            <div class="navbar-header navbar-header-custom">
                                <!-- start logo -->
                                <a href="http://www.fonctionpublique.gouv.sn" class="navbar-brand">
                                    <img id="logo" src="https://fonctionpublique.gouv.sn/squelettes/img/logos/logo.png" alt="Ministère de la Fonction Publique 
        
        Et de la Réforme du Service public"></a>
                                <!-- end logo -->
                                <p class="text"><a href="http://www.fonctionpublique.gouv.sn" class="navbar-brand mfpnom">  Ministère de la Fonction Publique <br> Et de la Réforme du Service public </a></p>
                            </div>
                        </div>
        
                       
                        <div class="col-md-3">
        
                            <div class="attr-nav align-items-lg-center ms-lg-auto vac">
                                <ul>
        
                                    <!-- <li class="search"><a href="#"><i class="fas fa-search"></i></a></li> -->
                                        
                                    
                                        <li class="d-none d-xl-inline-block"><a href="#" class="butn secondary medium text-white shadow-none" data-bs-toggle="modal" data-bs-target="#exampleModal"> Votre avis compte </a></li>
                                    
                                </ul>
                            </div>
                        </div>
        
                    </div>
                </div>
        
                <div class="container-fluid px-sm-2-9 menucouleur">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">

                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-toggler"></div>
                                    
                                    <ul class="navbar-nav align-items-lg-center ms-auto menu" id="nav" style="">
                                        
                                        <li class="has-sub first"><span class="submenu-button"></span><a href="#"> Le ministère </a>
                                            <ul class="row megamenu sub-menu">
        
                                                 
                                                <li class="col-lg-3 has-sub"><span class="submenu-button"></span>
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30"> Le cabinet </span>
                                                    <ul class="sub-menu"> 
                                                         
                                                        <li>
                                                            <a href="-Le-ministre-"><i class="fas fa-arrow-right me-2"></i> Le ministre </a>
                                                        </li>
                                                         
                                                        <li>
                                                            <a href="-Les-membres-du-cabinet-"><i class="fas fa-arrow-right me-2"></i> Les membres du cabinet </a>
                                                        </li>
                                                         
                                                        <li>
                                                            <a href="-Les-services-rattaches-au-cabinet-"><i class="fas fa-arrow-right me-2"></i> Les services rattachés au cabinet </a>
                                                        </li>
                                                        
                                                        
                                                    </ul>
                                                </li>
                                                 
                                                <li class="col-lg-3 has-sub"><span class="submenu-button"></span>
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30"> Le Secrétariat général </span>
                                                    <ul class="sub-menu"> 
                                                        
                                                         
                                                        <li><a href="Le-secretaire-general"><i class="fas fa-arrow-right me-2"></i> Le Secrétaire Général </a></li>
                                                         
                                                        <li><a href="La-cellule-de-passation-des-marches"><i class="fas fa-arrow-right me-2"></i> La Cellule de Passation des Marchés </a></li>
                                                         
                                                        <li><a href="LA-CELLULE-DES-AFFAIRES-JURIDIQUES-115"><i class="fas fa-arrow-right me-2"></i> La Cellule des Affaires juridiques </a></li>
                                                         
                                                        <li><a href="La-cellule-du-genre-et-de-l-equite"><i class="fas fa-arrow-right me-2"></i> La Cellule du Genre et de l’Equité </a></li>
                                                         
                                                        <li><a href="La-cellule-des-etudes-et-de-la-planification"><i class="fas fa-arrow-right me-2"></i> La Cellule des Etudes et de la Planification </a></li>
                                                        
                                                    </ul>
                                                </li>
                                                 
                                                <li class="col-lg-3 has-sub"><span class="submenu-button"></span>
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30"> Les directions </span>
                                                    <ul class="sub-menu"> 
                                                         
                                                        <li>
                                                            <a href="-La-Direction-Generale-de-la-Fonction-Publique-26-"><i class="fas fa-arrow-right me-2"></i> La Direction Générale de la Fonction Publique  </a>
                                                        </li>
                                                        
                                                         
                                                        <li><a href="La-Direction-de-la-Transformation-du-Service-Public"><i class="fas fa-arrow-right me-2"></i> La Direction de la Transformation du Secteur Public </a></li>
                                                         
                                                        <li><a href="Direction-des-Systemes-d-Information"><i class="fas fa-arrow-right me-2"></i> Direction des Systèmes d’Information </a></li>
                                                         
                                                        <li><a href="La-direction-de-l-administration-generale-et-de-l-equipement"><i class="fas fa-arrow-right me-2"></i> La Direction de l’Administration Générale et de l’Equipement </a></li>
                                                        
                                                    </ul>
                                                </li>
                                                 
                                                <li class="col-lg-3 has-sub"><span class="submenu-button"></span>
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30"> Autres administrations </span>
                                                    <ul class="sub-menu"> 
                                                        
                                                         
                                                        <li><a href="Le-Centre-Medico-Social-de-la-Fonction-publique"><i class="fas fa-arrow-right me-2"></i> Le Centre Médico–Social de la Fonction publique </a></li>
                                                         
                                                        <li><a href="Le-Centre-National-de-Formation-et-d-Action"><i class="fas fa-arrow-right me-2"></i> Le Centre National de Formation et d’Action </a></li>
                                                         
                                                        <li><a href="Programme-d-appui-a-la-modernisation-de-l-Administration-114"><i class="fas fa-arrow-right me-2"></i> Programme d’appui à la modernisation de l’Administration  </a></li>
                                                        
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        
                                        
                                        <li class="has-sub"><span class="submenu-button"></span><a href="#"> E-services </a>
                                            <ul class="sub-menu">
                                                
                                                
                                                <li> <a href="https://emploi-fpublique.sec.gouv.sn/login"><i class="fas fa-arrow-right me-2"></i> Souscrire à une demande d’emploi </a> </li>
                                                
                                                <li> <a href="https://fonctionpublique-actes.sec.gouv.sn/"><i class="fas fa-arrow-right me-2"></i> Télécharger votre acte administratif </a> </li>
                                                
                                                <li> <a href="#"><i class="fas fa-arrow-right me-2"></i> Suivre votre projet d’acte avec girafe </a> </li>
                                                
                                                <li> <a href="https://visite-fpublique.sec.gouv.sn/visite/new?objet=1"><i class="fas fa-arrow-right me-2"></i> Obtenir votre Attestation ... </a> </li>
                                                
                                            </ul>
                                        </li> 
                                        
                                        <li class="has-sub"><span class="submenu-button"></span><a href="#"> Services aux usagers </a>
                                            <ul class="sub-menu">
                                                
                                                
                                                <li> <a href="Production-d-actes-administratifs"><i class="fas fa-arrow-right me-2"></i> Production d’actes administratifs </a> </li>
                                                
                                                <li> <a href="La-prise-en-charge-de-la-Sante-des-agents-de-l-Etat-et-de-leur-famille"><i class="fas fa-arrow-right me-2"></i> La prise en charge de la Santé des agents de l’Etat et de leur famille </a> </li>
                                                
                                                <li> <a href="Offre-delocalisee-des-services-de-la-Fonction-publique"><i class="fas fa-arrow-right me-2"></i> Offre délocalisée des services de la Fonction publique </a> </li>
                                                
                                                <li> <a href="Commission-consultative-sur-les-stages-de-formation-permanente"><i class="fas fa-arrow-right me-2"></i> Mise en position de stage de formation permanente </a> </li>
                                                
                                                <li> <a href="Commission-technique-de-Reconnaissance-de-Classement-et-d-Equivalence-des"><i class="fas fa-arrow-right me-2"></i> Reconnaissance, Classement et Équivalence des diplômes par la CRCE </a> </li>
                                                
                                            </ul>
                                        </li> 
                                        
                                        
                                        
                                        <li class="has-sub"><span class="submenu-button"></span><a href="#"> Documentation </a>
                                            <ul class="sub-menu">
                                                
                                                <li> <a href="-Bibliotheque-"><i class="fas fa-arrow-right me-2"></i> Bibliothèque </a> </li>
                                                
                                                <li> <a href="-Phototheque-"><i class="fas fa-arrow-right me-2"></i> Photothèque </a> </li>
                                                
                                                <li> <a href="-Quelles-reformes-pour-une-Fonction-publique-performante-"><i class="fas fa-arrow-right me-2"></i> Vidéothèque  </a> </li>
                                                
                                                
                                            </ul>
                                        </li> 
                                        
        
                                        
                                        <li>
                                            <a href="-Actualites-"> Nos activités </a>
                                        </li> 
                                        
                                        
                                    </ul>
                                    <!--end menu area
                                    start attribute navigation -->
                                    <div class="attr-nav align-items-lg-center ms-lg-auto">
        
                                        
                                        
                                    </div>
                                   
                                    <div class="social-icon">
                                        <ul class="social-icons-style1">
                                            <li class="d-inline-block me-2"><a href="https://www.facebook.com/fonctionpubliqueSn" target="_blank"><i class="ti-facebook"></i></a></li>
                                            <li class="d-inline-block me-2"><a href="https://twitter.com/FpubliqueSn" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                                            <li class="d-inline-block me-2"><a href="https://www.youtube.com/@fpubliquesn4927" target="_blank"><i class="ti-youtube"></i></a></li>
                                            <li class="d-inline-block"><a href="https://www.linkedin.com/company/minist%C3%A8re-de-la-fonction-publique-et-de-la-transformation-du-secteur-public/" target="_blank"><i class="ti-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </nav> 
                                 <!-- <nav class="nav">
                                    <input type="checkbox" id="check">
                                    <label for="check" class="checkbtn">
                                        <i class="fas fa-bars"></i>
                                    </label>
                                    <label class="logo">GFG</label>
                                    <ul class="ul">
                                        <li class="li"><a  class="a" href="#">HTML</a></li>
                                        <li class="li"><a  class="a" href="#">Javascript</a></li>
                                        <li class="li"><a  class="a" href="#">ReactJS</a></li>
                                        <li class="li"><a  class="a" href="#">NodeJS</a></li>
                                    </ul>
                                </nav> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </header>



        <hr>


    </div>
    <script id="chatbox-jssdk" src="https://cbassets.botnation.ai/js/widget.js" async=""></script>
    <script id="chatbox-jssdk" src="https://cbassets.botnation.ai/js/widget.js" async=""></script>
    <!-- <script src="/assets/squelettes/js/jquery.min.js"></script> -->

<!-- popper js -->
<script src="/assets/assets/squelettes/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/assets/squelettes/js/bootstrap.min.js"></script>

<!-- navigation -->
<script src="/assets/squelettes/js/nav-menu.js"></script>

<!-- serch -->
<script src="/assets/squelettes/search/search.js"></script>

<!-- owl carousel -->
<script src="/assets/squelettes/js/owl.carousel.js"></script>

<!-- thumbs js -->
<script src="/assets/squelettes/js/owl.carousel.thumbs.js"></script>

<!-- tab -->
<script src="/assets/squelettes/js/easy.responsive.tabs.js"></script>

<!-- jquery.counterup.min -->
<script src="/assets/squelettes/js/jquery.counterup.min.js"></script>

<!-- stellar js -->
<script src="/assets/squelettes/js/jquery.stellar.min.js"></script>

<!-- waypoints js -->
<script src="/assets/squelettes/js/waypoints.min.js"></script>

<!-- countdown js -->
<script src="/assets/squelettes/js/countdown.js"></script>

<!-- jquery.magnific-popup js -->
<script src="/assets/squelettes/js/jquery.magnific-popup.min.js"></script>

<!-- lightgallery js -->
<script src="/assets/squelettes/js/lightgallery-all.js"></script>

<!-- mousewheel js -->
<script src="/assets/squelettes/js/jquery.mousewheel.min.js"></script>

<!-- isotope.pkgd.min js -->
<script src="/assets/squelettes/js/isotope.pkgd.min.js"></script>

<!-- animated headline js -->
<script src="/assets/squelettes/js/animated-headline.js"></script>

<!-- wow js -->
<script src="/assets/squelettes/js/wow.js"></script>

<!-- lettering js -->
<script src="/assets/squelettes/js/jquery.lettering.js"></script>

<!-- textillate js -->
<script src="/assets/squelettes/js/jquery.textillate.js"></script>

<!-- tilt js -->
<script src="/assets/squelettes/js/tilt.js"></script>

<!--  clipboard js -->
<script src="/assets/squelettes/js/clipboard.min.js"></script>

<!--  prism js -->
<script src="/assets/squelettes/js/prism.js"></script>

<!-- custom scripts -->
<script src="/assets/squelettes/js/main.js"></script>

<!-- form plugins js -->
<script src="/assets/squelettes/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/assets/squelettes/quform/js/scripts.js"></script>

<!-- all js include end --> 
<script type="text/javascript">
	function launchChatbot(){
		window.chatboxSettings = {
			appKey: 'e9f7a4c2-2e1e-4f8d-bf68-a2d64a096819',
			websiteId: 'lytesmis3eSQsB6rf2Jea0ms',
			preventMessengerPreload: true
			,language: 'fr'
			,ref: 'blockid:652d259dda102f1ab3071d8e'
			// Component behaviour
			// autoStart: true | false // Open and start automatically the conversation (default : false)
			// User datas
			// userId: 'UNIQUE USER ID',
			// firstName: 'USER FIRSTNAME',
			// lastName: 'USER LASTNAME',
			// gender: 'M | F',
			// You can specify a target sequence here :
			// ref: '<sequence id> OR "restart" to restart the welcome sequence',
		};
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://cbassets.botnation.ai/js/widget.js';
			js.async = true;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'chatbox-jssdk'));
	}

	setTimeout(launchChatbot, 5000);
</script>
</body>
</html>