<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="nav-menu-nav.css">
</head> -->
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/plugins/nav-menu.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Bienvenue sur Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public | Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public">
    <title> Bienvenue sur Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public | Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="squelettes/img/logos/favicon.png">
    <!-- plugins -->
    <link rel="stylesheet" href="/assets/plugins/plugins.css">
    <!-- search css -->
    <link rel="stylesheet" href="/assets/search.css">
    <!-- quform css -->
    <link rel="stylesheet" href="/assets/base.css">
    <!-- theme core css -->
    <link href="/assets/styles.css" rel="stylesheet">
    <!-- custom css -->
    <link href="/assets/custom.css" rel="stylesheet">

    <style>
        .dmopMx {
            position: relative;
            width: 64px;
            margin: auto;
            display: none;
        }

        .scroll-to-top {
            font-size: 20px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            position: fixed;
            bottom: 91px;
            right: 37px;
            display: none;
            border-radius: 50%;
            background: #000;
            border: 1px solid #2a2a2a;
            width: 35px;
            height: 35px;
            line-height: 30px;
            z-index: 9999;
            outline: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
        }
    </style><link id="botnation-chatbox-stylesheet" type="text/css" rel="stylesheet" href="https://cbassets.botnation.ai/css/botnation-chatbox.a67f5f5ab45ad19eb2103ff953f0c08d3ba69693.css"></head>
<body>
    <div>
        <header class="header-style1 menu_area-light fixedHeader">

     

            <div class="navbar-default border-bottom border-color-light-white">
            
            <!-- start top search -->
             <div class="top-search bg-secondary">
             <div class="container-fluid px-sm-1-6 px-lg-2-9">
                <form class="search-form" action="#" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="recherche" autocomplete="off" placeholder="Entrez votre recherche ...">
                        <input value="recherche" name="page" type="hidden" placeholder="Recherche" class="search-submit">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
            </div>
            <!-- end top search -->
        
        
        
                <div class="container-fluid px-sm-2-9">
                    
                    
        
                    <div class="row">
                        <div class="col-md-2 sl">
                            
                            
        
                            <div class="senegal-logo">
                                <!-- start logo -->
                                <a href="http://www.fonctionpublique.gouv.sn">
                                    <img id="logo" src="https://fonctionpublique.gouv.sn/IMG/logo/logo-republique-du-senegal.png" alt="logo-republique-du-senegal">
                                </a>
                                <!-- end logo -->
                                <p class="rds">République du Sénégal</p>
                                <p class="pbf"> Un peuple, Un but, Une foi </p>
                                
                            </div>
        
                        </div>
        
                        <div class="col-md-7">
                            <div class="navbar-header navbar-header-custom">
                                <!-- start logo -->
                                <a href="http://www.fonctionpublique.gouv.sn" class="navbar-brand">
                                    <img id="logo" src="https://fonctionpublique.gouv.sn/squelettes/img/logos/logo.png" alt="Ministère de la Fonction Publique 
        
        Et de la Réforme du Service public"></a>
                                <!-- end logo -->
                                <p class="text"><a href="http://www.fonctionpublique.gouv.sn" class="navbar-brand mfpnom">  Ministère de la Fonction Publique <br> Et de la Réforme du Service public </a></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="attr-nav align-items-lg-center ms-lg-auto vac">
                                <ul>
                                <li class="d-none d-xl-inline-block"><a href="#" class="butn secondary medium text-white shadow-none" data-bs-toggle="modal" data-bs-target="#exampleModal"> Votre avis compte </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid px-sm-2-9 menucouleur">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <input type="checkbox" id="check">
                                    <label for="check" class="checkbtn">
                                        <i class="fas fa-bars"></i>
                                    </label>
                                    <label class="logo">DEMANDE D'ATTESTATION</label>
                                    <ul>
                                        <li><a class="active"  routerLink="/accueil">Accueil</a></li>
                                        <li><a routerLink="/signup">Inscription</a></li>
                                        <li>
                                          <a routerLink="/formule">Connexion</a>
                                        </li>
                                        <li>
                                          <a>Déconnexion</a>
                                        </li>
                                    </ul> 

                                </nav>
                                <!-- <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <input type="checkbox" id="check">
                                    <label for="check" class="checkbtn">
                                        <i class="fas fa-bars"></i>
                                    </label>
                                    <label class="logo">DEMANDE D'ATTESTATION</label>
                                    <ul>
                                        <li><a class="active"  routerLink="/accueil">Accueil</a></li>
                                        <li><a routerLink="/signup">Inscription</a></li>
                                        <li>
                                          <a routerLink="/formule">Connexion</a>
                                        </li>
                                        <li>
                                          <a>Déconnexion</a>
                                        </li>
                                    </ul>
                                </nav> -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        
        </header>

    </div>
    <script id="chatbox-jssdk" src="https://cbassets.botnation.ai/js/widget.js" async=""></script>
    <script id="chatbox-jssdk" src="https://cbassets.botnation.ai/js/widget.js" async=""></script><script src="squelettes/js/jquery.min.js"></script>

<!-- popper js -->
<script src="squelettes/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="squelettes/js/bootstrap.min.js"></script>

<!-- navigation -->
<script src="squelettes/js/nav-menu.js"></script>

<!-- serch -->
<script src="squelettes/search/search.js"></script>

<!-- owl carousel -->
<script src="squelettes/js/owl.carousel.js"></script>

<!-- thumbs js -->
<script src="squelettes/js/owl.carousel.thumbs.js"></script>

<!-- tab -->
<script src="squelettes/js/easy.responsive.tabs.js"></script>

<!-- jquery.counterup.min -->
<script src="squelettes/js/jquery.counterup.min.js"></script>

<!-- stellar js -->
<script src="squelettes/js/jquery.stellar.min.js"></script>

<!-- waypoints js -->
<script src="squelettes/js/waypoints.min.js"></script>

<!-- countdown js -->
<script src="squelettes/js/countdown.js"></script>

<!-- jquery.magnific-popup js -->
<script src="squelettes/js/jquery.magnific-popup.min.js"></script>

<!-- lightgallery js -->
<script src="squelettes/js/lightgallery-all.js"></script>

<!-- mousewheel js -->
<script src="squelettes/js/jquery.mousewheel.min.js"></script>

<!-- isotope.pkgd.min js -->
<script src="squelettes/js/isotope.pkgd.min.js"></script>

<!-- animated headline js -->
<script src="squelettes/js/animated-headline.js"></script>

<!-- wow js -->
<script src="squelettes/js/wow.js"></script>

<!-- lettering js -->
<script src="squelettes/js/jquery.lettering.js"></script>

<!-- textillate js -->
<script src="squelettes/js/jquery.textillate.js"></script>

<!-- tilt js -->
<script src="squelettes/js/tilt.js"></script>

<!--  clipboard js -->
<script src="squelettes/js/clipboard.min.js"></script>

<!--  prism js -->
<script src="squelettes/js/prism.js"></script>

<!-- custom scripts -->
<script src="squelettes/js/main.js"></script>

<!-- form plugins js -->
<script src="squelettes/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="squelettes/quform/js/scripts.js"></script>

<!-- all js include end --> 

<script type="text/javascript">
	function launchChatbot(){
		window.chatboxSettings = {
			appKey: 'e9f7a4c2-2e1e-4f8d-bf68-a2d64a096819',
			websiteId: 'lytesmis3eSQsB6rf2Jea0ms',
			preventMessengerPreload: true
			,language: 'fr'
			,ref: 'blockid:652d259dda102f1ab3071d8e'
			// Component behaviour
			// autoStart: true | false // Open and start automatically the conversation (default : false)
			// User datas
			// userId: 'UNIQUE USER ID',
			// firstName: 'USER FIRSTNAME',
			// lastName: 'USER LASTNAME',
			// gender: 'M | F',
			// You can specify a target sequence here :
			// ref: '<sequence id> OR "restart" to restart the welcome sequence',
		};
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://cbassets.botnation.ai/js/widget.js';
			js.async = true;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'chatbox-jssdk'));
	}

	setTimeout(launchChatbot, 5000);
</script>
</body>
</html>