<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h3>Informations Compte</h3> -->
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
            <!-- <input type="email" name="email" placeholder="example@gmail.com" formControlName="email"/>
            <div *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
              <span *ngIf="signupForm.controls.email.errors.required">veuillez renseinger votre email!</span>
              <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid.</span>
            </div>

            <input type="email" name="confirmemail" formControlName="confirmemail" placeholder="Confirmation Email" required/>
            <div *ngIf="signupForm.controls.confirmemail.touched && signupForm.controls.confirmemail.invalid">
            <span *ngIf="signupForm.controls.confirmemail.errors.required">répétez votre email !</span>
            <span *ngIf="signupForm.controls.confirmemailerrors.pattern">This field is invalid.</span>
             </div>

            <input type="password" name="password" formControlName="password" placeholder="Mot de Passe"/>
            <div *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
            <span *ngIf="signupForm.controls.password.errors.required">veuillez saisir votre mot de passe !</span>
            </div>

            <input type="password" name="confirmpassword" formControlName="confirmpassword" placeholder="Répéter Mot de Passe" required=""/>
            <div *ngIf="signupForm.controls.confirmpassword.touched && signupForm.controls.confirmpassword.invalid">
            <span *ngIf="signupForm.controls.confirmpassword.errors.required">veuillez répéter votre mot de passe !</span>
            </div> -->

			<!-- <input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" /> -->
			<!-- <button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h3>Informations Etat Civil</h3>
                    <div style="display: flex;">
                    <div>
                        <input type="radio" id="cni" name="number" value="CNI" formControlName="cni">
                        <label for="cni">CNI</label>
                      </div>
                      <div>
                        <input type="radio" id="passeport" name="number" value="PassePort" formControlName="passeport">
                        <label for="passeport">PassePort</label>
                      </div>
                      </div> -->
                      <!-- For "nin" -->
                      <!-- <input type="text" [disabled]="isCniSelected()" placeholder="Numero Carte D'Identité" formControlName="cni">
                      <input type="text" [disabled]="isPassportSelected()" placeholder="Numero Passeport" formControlName="passport"> -->
                <!-- </div> -->
                  <!-- <input type="text" name="prenom" placeholder="Prenom" formControlName="prenom" required=""/>
                  <div *ngIf="signupForm.controls.prenom.touched && signupForm.controls.prenom.invalid">
                    <span *ngIf="signupForm.controls.prenom.errors.required">veuillez renseinger Prénom !</span>
                    <span *ngIf="signupForm.controls.prenom.errors.pattern">This field is invalid.</span>
                  </div>

                <input type="text" name="nom" placeholder="nom" formControlName="nom" required=""/>
                <div *ngIf="signupForm.controls.nom.touched && signupForm.controls.nom.invalid">
                  <span *ngIf="signupForm.controls.nom.errors.required">veuillez renseinger votre Nom!</span>
                  <span *ngIf="signupForm.controls.nom.errors.pattern">This field is invalid.</span>
                </div> -->
			<!-- <button>Sign In</button> -->
		<!-- </form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Merci</h1>
				<p>Vous utiliserez cet email ainsi que le mot de passe pour vous connectez à votre compte !</p>
				<button class="ghost" id="signIn" style="background-color: rgb(194, 50, 21); color: white;">Retour</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h4>Bienvenue à la plateforme de demande d'attestations</h4>
				<p></p>
				<button class="ghost" id="signUp" style="background-color: rgb(6, 99, 9); color: rgb(255, 255, 255);">Suivant</button>
			</div>
		</div>
	</div>
</div>

<SCript>

</SCript>
</body>
</html> -->

