
<!-- <section class="content">
  <div class="container-fluid">
    <div class="row"> -->
      <!-- left column -->
      <!-- <div class="col-md-6"> -->
        <!-- general form elements -->
        <!-- <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Formulaire de Demande</h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->
          <!-- <form [formGroup]="demandeurForm">
            <div class="card-body">


              <div class="form-group" apperence="standard">
               <input type="text" class="form-control" formControlName="telephone" required id="exampleInputEmail1" placeholder="Telephone">
               <div *ngIf="demandeurForm.controls.telephone.touched && demandeurForm.controls.telephone.invalid">
                <span *ngIf="demandeurForm.controls.telephone.errors.required">veuillez renseinger ce champ !</span>
                <span *ngIf="demandeurForm.controls.telephone.pattern">This field is invalid.</span>
               </div>
              </div>
              </div>


              <div class="form-group" apperence="standard">
                <input type="text" class="form-control" formControlName="datedenaissace" id="exampleInputEmail1" placeholder="Enter datedenaissace" required>
                <div *ngIf="demandeurForm.controls.datedenaissace.touched && demandeurForm.controls.datedenaissace.invalid">
                  <span *ngIf="demandeurForm.controls.datedenaissace.errors.required">veuillez renseinger ce champ !</span>
                  <span *ngIf="demandeurForm.controls.datedenaissace.errors.pattern">This field is invalid.</span>
                </div>


              <div class="form-group" apperence="standard">
                <input type="text" class="form-control" formControlName="lieudenaissance" id="exampleInputEmail1" placeholder="Enter lieudenaissance" required>
                <div *ngIf="demandeurForm.controls.lieudenaissance.touched && demandeurForm.controls.lieudenaissance.invalid">
                  <span *ngIf="demandeurForm.controls.lieudenaissance.errors.required">veuillez renseinger ce champ !</span>
                  <span *ngIf="demandeurForm.controls.lieudenaissance.errors.pattern">This field is invalid.</span>
                </div>
              </div>

              <div class="form-group" apperence="standard">
                <input type="text" class="form-control" formControlName="nin" id="exampleInputEmail1" placeholder="CIN" required>
                <div *ngIf="demandeurForm.controls.nin.touched && demandeurForm.controls.nin.invalid">
                  <span *ngIf="demandeurForm.controls.nin.errors.required">veuillez renseinger ce champ !</span>
                  <span *ngIf="demandeurForm.controls.nin.errors.pattern">This field is invalid.</span>
                </div>
              </div>

              <div class="form-group" apperence="standard">
                <input type="file" class="form-control" formControlName="scannernin"  id="exampleInputEmail1" placeholder="Scanner CNI">
                <div *ngIf="demandeurForm.controls.scannernin.touched && demandeurForm.controls.scannernin.invalid">
                  <span *ngIf="demandeurForm.controls.scannernin.errors.required">veuillez renseinger ce champ !</span>
                  <span *ngIf="demandeurForm.controls.scannernin.pattern">This field is invalid.</span>
                </div>
              </div>
              <div class="form-group" apperence="standard">
               <input type="text" class="form-control" formControlName="adresse" required id="exampleInputEmail1" placeholder="Votre Adresse">
               <div *ngIf="demandeurForm.controls.adresse.touched && demandeurForm.controls.adresse.invalid">
                <span *ngIf="demandeurForm.controls.adresse.errors.required">veuillez renseinger ce champ !</span>
                <span *ngIf="demandeurForm.controls.adresse.pattern">This field is invalid.</span>
               </div>
              </div>

              <div class="form-group" apperence="standard">
               <input type="text" class="form-control" formControlName="fonction" required id="exampleInputEmail1" placeholder="Fonction">
               <div *ngIf="demandeurForm.controls.fonction.touched && demandeurForm.controls.fonction.invalid">
                <span *ngIf="demandeurForm.controls.fonction.errors.required">veuillez renseinger ce champ !</span>
                <span *ngIf="demandeurForm.controls.fonction.pattern">This field is invalid.</span>
               </div>
              </div>

              <div class="form-group" apperence="standard">
               <input type="text" class="form-control" formControlName="sexe" required id="exampleInputEmail1" placeholder="Sexe">
               <div *ngIf="demandeurForm.controls.sexe.touched && demandeurForm.controls.sexe.invalid">
                <span *ngIf="demandeurForm.controls.sexe.errors.required">veuillez renseinger ce champ !</span>
                <span *ngIf="demandeurForm.controls.sexe.pattern">This field is invalid.</span>
               </div>
              </div>
            </div> -->
            <!-- /.card-body -->

            <!-- <div class="card-footer">
              <button type="submit" class="btn btn-primary"  (click)="handleSubmit()" (click)="handleSubmit()" [disabled]="validateSubmit() || !(demandeurForm.valid && demandeurForm.dirty)">Envoyez</button>
            </div>
          </form>
        </div> -->
<!-- <div class="container"> -->

    <!-- <div class="card">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxlayout="row">
        <span>Formulaire de Demande</span>
        <span class="spacer"></span> -->
        <!-- <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button> -->
    <!-- </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="demandeurForm">

        <div fxflex fxLayout="column">
            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Date de Naissance</mat-label>
                <input matInput formControlName="datedenaissace" required>
                <mat-error *ngIf="demandeurForm.controls.datedenaissace.touched && demandeurForm.controls.datedenaissace.invalid">
                    <span *ngIf="demandeurForm.controls.datedenaissace.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.datedenaissace.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Lieu de Naissance</mat-label>
                <input matInput formControlName="nom" required>
                <mat-error *ngIf="demandeurForm.controls.lieudenaissance.touched && demandeurForm.controls.lieudenaissance.invalid">
                    <span *ngIf="demandeurForm.controls.lieudenaissance.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.lieudenaissance.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>NIN</mat-label>
                <input matInput formControlName="nin" required>
                <mat-error *ngIf="demandeurForm.controls.nin.touched && demandeurForm.controls.nin.invalid">
                    <span *ngIf="demandeurForm.controls.nin.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.nin.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Scanner NIN</mat-label>
                <input matInput formControlName="scannernin" required>
                <mat-error *ngIf="demandeurForm.controls.scannernin.touched && demandeurForm.controls.scannernin.invalid">
                    <span *ngIf="demandeurForm.controls.scannernin.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.scannernin.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Telephone</mat-label>
                <input matInput formControlName="scannernin" required>
                <mat-error *ngIf="demandeurForm.controls.telephone.touched && demandeurForm.controls.telephone.invalid">
                    <span *ngIf="demandeurForm.controls.telephone.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.telephone.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>adresse</mat-label>
                <input matInput formControlName="adresse" required>
                <mat-error *ngIf="demandeurForm.controls.adresse.touched && demandeurForm.controls.adresse.invalid">
                    <span *ngIf="demandeurForm.controls.adresse.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.adresse.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Sexe</mat-label>
                <input matInput formControlName="adresse" required>
                <mat-error *ngIf="demandeurForm.controls.sexe.touched && demandeurForm.controls.sexe.invalid">
                    <span *ngIf="demandeurForm.controls.sexe.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.sexe.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Fonction</mat-label>
                <input matInput formControlName="fonction" required>
                <mat-error *ngIf="demandeurForm.controls.fonction.touched && demandeurForm.controls.fonction.invalid">
                    <span *ngIf="demandeurForm.controls.fonction.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.fonction.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Region de Residence</mat-label>
                <input matInput formControlName="regionresidence" required>
                <mat-error *ngIf="demandeurForm.controls.regionresidence.touched && demandeurForm.controls.regionresidence.invalid">
                    <span *ngIf="demandeurForm.controls.regionresidence.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.regionresidence.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>Depatement de Residence</mat-label>
                <input matInput formControlName="departementresidence" required>
                <mat-error *ngIf="demandeurForm.controls.departementresidence.touched && demandeurForm.controls.departementresidence.invalid">
                    <span *ngIf="demandeurForm.controls.departementresidence.errors.required">This field is mandatory.</span>
                    <span *ngIf="demandeurForm.controls.departementresidence.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field> -->

            <!-- <mat-form-field apperence="standard" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required [type]="password ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="password = !password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
                    <mat-icon>{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
               <mat-error *ngIf="demandeurForm.controls.password.touched && demandeurForm.controls.password.invalid">
                    <span *ngIf="demandeurForm.controls.password.errors.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field apperence="standard" fxFlex>
                <mat-label>confirmPassword</mat-label>
                <input matInput formControlName="confirmpassword" type="password" required [type]="confirmpassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="confirmpassword = !confirmpassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
                    <mat-icon>{{confirmpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="demandeurForm.controls.confirmpassword.touched && demandeurForm.controls.confirmpassword.invalid">
                    <span *ngIf="demandeurForm.controls.confirmpassword.errors.required">This field is mandatory.</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(demandeurForm.controls.confirmpassword.invalid)">
                    <span>New Password & Confirm Password does not match.</span>
                </mat-hint>
            </mat-form-field> -->

        <!-- </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="green" type="submit" (click)="handleSubmit()" [disabled]="validateSubmit() || !(demandeurForm.valid && demandeurForm.dirty)">
        <mat-icon>save</mat-icon> Validez !
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Annuler
    </button>
</mat-dialog-actions>
</div>
</div> -->

<!-- <app-accueil></app-accueil> -->

<app-header></app-header>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Sign up form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
 

    <div>
        <div class="div2">
          <div class="testbox">

            <form >
              <div class="colums">
      
                <div class="item">
                  <label for="telephone">Téléphone<span>*</span></label>
                  <input id="telephone" type="tel" name="telephone" formControlName="telephone" [(ngModel)]="demandeur.telephone" required placeholder="Numéro Téléphone"/>
                  <div *ngIf="demandeurForm.controls.telephone.touched && demandeurForm.controls.telephone.invalid">
                    <span *ngIf="demandeurForm.controls.telephone.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.telephone.pattern">This field is invalid.</span>
                   </div>
                </div>
      
                <div class="item">
                  <label for="datedenaissance">Date de Naissace<span>*</span></label>
                  <input id="datedenaissance" type="date" name="datedenaissance" formControlName="datedenaissance" [(ngModel)]="demandeur.datedenaissance"  required placeholder="Date de Naissace"/>
                  <div *ngIf="demandeurForm.controls.datedenaissance.touched && demandeurForm.controls.datedenaissance.invalid">
                    <span *ngIf="demandeurForm.controls.datedenaissance.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.datedenaissance.errors.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="lieudenaissance">Lieu de Naissance<span>*</span></label>
                  <input id="lieudenaissance" type="text" formControlName="lieudenaissance" name="lieudenaissance" [(ngModel)]="demandeur.lieudenaissance"  required placeholder="Lieu de Naissance"/>
                  <div *ngIf="demandeurForm.controls.lieudenaissance.touched && demandeurForm.controls.lieudenaissance.invalid">
                    <span *ngIf="demandeurForm.controls.lieudenaissance.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.lieudenaissance.errors.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="nin">CNI<span>*</span></label>
                  <input id="nin" type="text" name="nin" formControlName="nin" [(ngModel)]="demandeur.nin"  required placeholder="CNI"/>
                  <div *ngIf="demandeurForm.controls.nin.touched && demandeurForm.controls.nin.invalid">
                    <span *ngIf="demandeurForm.controls.nin.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.nin.errors.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="scannernin">Scanner CNI<span>*</span></label>
                  <input id="scannernin" type="file" name="scannernin" formControlName="scannernin" required/>
                  <div *ngIf="demandeurForm.controls.scannernin.touched && demandeurForm.controls.scannernin.invalid">
                    <span *ngIf="demandeurForm.controls.scannernin.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.scannernin.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="adresse">Adresse<span>*</span></label>
                  <input id="adresse" type="text" name="adresse"  formControlName="adresse" [(ngModel)]="demandeur.adresse"  required placeholder="Votre Adresse"/>
                  <div *ngIf="demandeurForm.controls.adresse.touched && demandeurForm.controls.adresse.invalid">
                    <span *ngIf="demandeurForm.controls.adresse.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.adresse.pattern">This field is invalid.</span>
                   </div>
                </div>
      
                <div class="item">
                  <label for="fonction">Fonction<span>*</span></label>
                  <input id="fonction" type="text" name="fonction" formControlName="fonction" [(ngModel)]="demandeur.fonction" required placeholder="Fonction"/>
                  <div *ngIf="demandeurForm.controls.fonction.touched && demandeurForm.controls.fonction.invalid">
                    <span *ngIf="demandeurForm.controls.fonction.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.fonction.pattern">This field is invalid.</span>
                   </div>
                </div>
      
                <div class="item">
                  <label>Sexe<span>*</span></label>
                <select style="width: 98%; height: 50%;" formControlName="sexe">
                  <option selected value="" disabled selected>--- select ---</option>
                  <option value="masculin" >Masculin</option>
                  <option value="feminin">Feminin</option>
                </select>
                <div *ngIf="demandeurForm.controls.sexe.touched && demandeurForm.controls.sexe.invalid">
                  <span *ngIf="demandeurForm.controls.sexe.errors.required">veuillez renseinger ce champ !</span>
                  <span *ngIf="demandeurForm.controls.sexe.pattern">This field is invalid.</span>
                 </div>
                </div>
              </div>
              
              <div class="btn-block">
                <div class="row">
                  <div class="col">
                    <button type="submit" style="margin-right: 20px;" class="btn btn-danger" routerLink="/espaceClient">Annuler</button>
                    <button  type="submit" class="btn btn-success" (click)="handleSubmit(); openSpinner()" >Submit</button></div>
                   
                </div>
      
              </div>
            </form>
      
          </div>
        </div>
     

        <!-- <div class="div2">
          <div class="testbox">
  
            <form [formGroup]="demandeurForm">
              <div class="colums">
      
                <div class="item">
                  <label for="telephone">Téléphone<span>*</span></label>
                  <input id="telephone" type="tel" name="telephone" formControlName="telephone" required placeholder="Numéro Téléphone"/>
                  <div *ngIf="demandeurForm.controls.telephone.touched && demandeurForm.controls.telephone.invalid">
                    <span *ngIf="demandeurForm.controls.telephone.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.telephone.pattern">This field is invalid.</span>
                   </div>
                </div>
      
                <div class="item">
                  <label for="datedenaissance">Date de Naissace<span>*</span></label>
                  <input id="datedenaissance" type="date" name="datedenaissance" formControlName="datedenaissance" required placeholder="Date de Naissace"/>
                  <div *ngIf="demandeurForm.controls.datedenaissance.touched && demandeurForm.controls.datedenaissance.invalid">
                    <span *ngIf="demandeurForm.controls.datedenaissance.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.datedenaissance.errors.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="lieudenaissance">Lieu de Naissance<span>*</span></label>
                  <input id="lieudenaissance" type="text" formControlName="lieudenaissance" name="lieudenaissance" required placeholder="Lieu de Naissance"/>
                  <div *ngIf="demandeurForm.controls.lieudenaissance.touched && demandeurForm.controls.lieudenaissance.invalid">
                    <span *ngIf="demandeurForm.controls.lieudenaissance.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.lieudenaissance.errors.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="nin">CNI<span>*</span></label>
                  <input id="nin" type="text" name="nin" formControlName="nin" [(ngModel)]="nin" required placeholder="CNI"/>
                  <div *ngIf="demandeurForm.controls.nin.touched && demandeurForm.controls.nin.invalid">
                    <span *ngIf="demandeurForm.controls.nin.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.nin.errors.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="scannernin">Scanner CNI<span>*</span></label>
                  <input id="scannernin" type="file" name="scannernin" formControlName="scannernin" required/>
                  <div *ngIf="demandeurForm.controls.scannernin.touched && demandeurForm.controls.scannernin.invalid">
                    <span *ngIf="demandeurForm.controls.scannernin.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.scannernin.pattern">This field is invalid.</span>
                  </div>
                </div>
      
                <div class="item">
                  <label for="adresse">Adresse<span>*</span></label>
                  <input id="adresse" type="text" name="adresse"  formControlName="adresse" required placeholder="Votre Adresse"/>
                  <div *ngIf="demandeurForm.controls.adresse.touched && demandeurForm.controls.adresse.invalid">
                    <span *ngIf="demandeurForm.controls.adresse.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.adresse.pattern">This field is invalid.</span>
                   </div>
                </div>
      
                <div class="item">
                  <label for="fonction">Fonction<span>*</span></label>
                  <input id="fonction" type="text" name="fonction" formControlName="fonction" required placeholder="Fonction"/>
                  <div *ngIf="demandeurForm.controls.fonction.touched && demandeurForm.controls.fonction.invalid">
                    <span *ngIf="demandeurForm.controls.fonction.errors.required">veuillez renseinger ce champ !</span>
                    <span *ngIf="demandeurForm.controls.fonction.pattern">This field is invalid.</span>
                   </div>
                </div>
      
                <div class="item">
                  <label>Sexe<span>*</span></label>
                <select style="width: 98%; height: 50%;" formControlName="sexe">
                  <option selected value="" disabled selected>--- select ---</option>
                  <option value="masculin" >Masculin</option>
                  <option value="feminin">Feminin</option>
                </select>
                <div *ngIf="demandeurForm.controls.sexe.touched && demandeurForm.controls.sexe.invalid">
                  <span *ngIf="demandeurForm.controls.sexe.errors.required">veuillez renseinger ce champ !</span>
                  <span *ngIf="demandeurForm.controls.sexe.pattern">This field is invalid.</span>
                 </div>
                </div>
              </div>
              
              <div class="btn-block">
                <div class="row">
                  <div class="col">
                    <button type="submit" style="margin-right: 20px;" class="btn btn-danger" href="/accueil">Annuler</button>
                    <button  type="submit" class="btn btn-success" (click)="handleSubmit()">Submit</button></div>
                   
                </div>
      
              </div>
            </form>
      
          </div>
        </div> -->

    </div>


    <!-- second second  -->

    


  </body>
</html>
<app-footer></app-footer>