<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/plugins/nav-menu.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/plugins/nav-menu.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Bienvenue sur Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public | Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public">
    <title> Bienvenue sur Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public | Ministère de la Fonction Publique et de la Transformation du Secteur public et de la Transformation du Secteur public </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="squelettes/img/logos/favicon.png">
    <!-- plugins -->
    <link rel="stylesheet" href="/assets/plugins/plugins.css">
    <!-- search css -->
    <link rel="stylesheet" href="/assets/search.css">
    <!-- quform css -->
    <link rel="stylesheet" href="/assets/base.css">
    <!-- theme core css -->
    <link href="/assets/styles.css" rel="stylesheet">
    <!-- custom css -->
    <link href="/assets/custom.css" rel="stylesheet">
</head>
<body>
    <div>

       <footer class="footer-style1 bg-dark">
            <div class="container">
                <div class="row">           
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12 mb-1-9 pb-4 border-bottom border-color-light-white wow fadeIn" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-mobile display-20 text-secondary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                
                                                <h4 class="h5 text-white mb-1">Téléphone </h4>
                                                <p class="mb-0 text-white opacity8 small"> +221 33 839 66 00 </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-email display-20 text-secondary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                
                                                <h4 class="h5 text-white mb-1">Email</h4>
                                                <p class="mb-0 text-white opacity8 small"> emploi@fpublique.gouv.sn </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ti-map-alt display-20 text-secondary"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                
                                                <h4 class="h5 text-white mb-1">Localisation</h4>
                                                <p class="mb-0 text-white opacity8 small"> 52, Vincens x Abdou Karim BOURGI, Dakar </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                                <h3> Accès rapide </h3>
                                <ul class="ps-0 mb-0">
                                    
                                    <li><a href="Recrutement"> Souscrire à une demande d’emploi </a></li>
                                    
                                    <li><a href="Actes-37"> Télécharger votre acte administratif </a></li>
                                    
                                    <li><a href="Portail-agent"> Suivre votre projet d’acte avec girafe </a></li>
                                    
                                    <li><a href="Attestation-de-non-appartenance-a-la-Fonction-publique-39"> Obtenir votre Attestation ... </a></li>
                                    
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
                                <h3> Liens utiles </h3>
                                <ul class="ps-0 mb-0">
                                    <li><a href="https://www.presidence.sn/" target="_blank"> Le Président de la République </a></li>
                                    <li><a href="https://www.presidence.sn/pse/presentation" target="_blank"> Le Plan Sénégal émergent </a></li>
                                    <li><a href="https://www.sec.gouv.sn/" target="_blank">  Gouvernement du Sénégal </a></li>
                                    <li><a href="https://senegalservices.sn/" target="_blank">  Sénégal Services </a></li>
                                    <li><a href="http://www.marchespublics.sn/" target="_blank"> Marchés publics  </a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
                                <h3>Services aux usagers</h3>
                                <ul class="ps-0 mb-0">
                                    
                                    <li><a href="Production-d-actes-administratifs"> Production d’actes administratifs </a></li>
                                    
                                    <li><a href="La-prise-en-charge-de-la-Sante-des-agents-de-l-Etat-et-de-leur-famille"> La prise en charge de la Santé des agents de l’Etat et de leur famille </a></li>
                                    
                                    <li><a href="Offre-delocalisee-des-services-de-la-Fonction-publique"> Offre délocalisée des services de la Fonction publique </a></li>
                                    
                                    <li><a href="Commission-consultative-sur-les-stages-de-formation-permanente"> Mise en position de stage de formation permanente </a></li>
                                    
                                    
                                </ul>
                            </div>
                           
                            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
                                <h3>Newsletter</h3>
                                <form class="quform" action="#" method="post" enctype="multipart/form-data" onclick="">
        
                                    <div class="quform-elements">
        
                                        <div class="row">
                                            <!-- Begin Text input element -->
                                            <div class="col-md-12">
                                                <div class="quform-element mb-0">
                                                    <div class="quform-input">
                                                        <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Votre adresse email">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->
        
                                            <!-- Begin Submit button -->
                                            <div class="col-md-12 mt-2">
                                                <div class="quform-submit-inner">
                                                    <button class="butn-style1 secondary m-0 w-100" type="submit">Envoyer</button>
                                                </div>
                                                <div class="quform-loading-wrap text-start mt-3"><span class="quform-loading"></span></div>
                                            </div>
                                            <!-- End Submit button -->
                                        </div>
                                    </div>
                                </form>
        
                                <p class="mb-1-9 text-white w-xxl-85 ft"> Suivez - nous !</p>
                                <div class="social-icons2">
                                    <ul class="ps-0 mb-0">
                                        <li><a href="https://www.facebook.com/fonctionpubliqueSn" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/minist%C3%A8re-de-la-fonction-publique-et-de-la-transformation-du-secteur-public" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="https://twitter.com/FpubliqueSn" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/@fpubliquesn4927" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
        
        
                            </div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="footer-bar wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>©Copyright 2023. Ministère de la Fonction Publique et de la Transformation du Secteur public </p>
                        </div>
                    </div>
                </div>
            </div>
        
        </footer>
    </div>
    <script id="chatbox-jssdk" src="https://cbassets.botnation.ai/js/widget.js" async=""></script>
    <script id="chatbox-jssdk" src="https://cbassets.botnation.ai/js/widget.js" async=""></script><script src="squelettes/js/jquery.min.js"></script>

<!-- popper js -->
<script src="squelettes/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="squelettes/js/bootstrap.min.js"></script>

<!-- navigation -->
<script src="squelettes/js/nav-menu.js"></script>

<!-- serch -->
<script src="squelettes/search/search.js"></script>

<!-- owl carousel -->
<script src="squelettes/js/owl.carousel.js"></script>

<!-- thumbs js -->
<script src="squelettes/js/owl.carousel.thumbs.js"></script>

<!-- tab -->
<script src="squelettes/js/easy.responsive.tabs.js"></script>

<!-- jquery.counterup.min -->
<script src="squelettes/js/jquery.counterup.min.js"></script>

<!-- stellar js -->
<script src="squelettes/js/jquery.stellar.min.js"></script>

<!-- waypoints js -->
<script src="squelettes/js/waypoints.min.js"></script>

<!-- countdown js -->
<script src="squelettes/js/countdown.js"></script>

<!-- jquery.magnific-popup js -->
<script src="squelettes/js/jquery.magnific-popup.min.js"></script>

<!-- lightgallery js -->
<script src="squelettes/js/lightgallery-all.js"></script>

<!-- mousewheel js -->
<script src="squelettes/js/jquery.mousewheel.min.js"></script>

<!-- isotope.pkgd.min js -->
<script src="squelettes/js/isotope.pkgd.min.js"></script>

<!-- animated headline js -->
<script src="squelettes/js/animated-headline.js"></script>

<!-- wow js -->
<script src="squelettes/js/wow.js"></script>

<!-- lettering js -->
<script src="squelettes/js/jquery.lettering.js"></script>

<!-- textillate js -->
<script src="squelettes/js/jquery.textillate.js"></script>

<!-- tilt js -->
<script src="squelettes/js/tilt.js"></script>

<!--  clipboard js -->
<script src="squelettes/js/clipboard.min.js"></script>

<!--  prism js -->
<script src="squelettes/js/prism.js"></script>

<!-- custom scripts -->
<script src="squelettes/js/main.js"></script>

<!-- form plugins js -->
<script src="squelettes/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="squelettes/quform/js/scripts.js"></script>

<!-- all js include end --> 

<script type="text/javascript">
	function launchChatbot(){
		window.chatboxSettings = {
			appKey: 'e9f7a4c2-2e1e-4f8d-bf68-a2d64a096819',
			websiteId: 'lytesmis3eSQsB6rf2Jea0ms',
			preventMessengerPreload: true
			,language: 'fr'
			,ref: 'blockid:652d259dda102f1ab3071d8e'
			// Component behaviour
			// autoStart: true | false // Open and start automatically the conversation (default : false)
			// User datas
			// userId: 'UNIQUE USER ID',
			// firstName: 'USER FIRSTNAME',
			// lastName: 'USER LASTNAME',
			// gender: 'M | F',
			// You can specify a target sequence here :
			// ref: '<sequence id> OR "restart" to restart the welcome sequence',
		};
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://cbassets.botnation.ai/js/widget.js';
			js.async = true;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'chatbox-jssdk'));
	}

	setTimeout(launchChatbot, 5000);
</script>
</body>
</html>