<app-head></app-head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Création d'un nouveau mot de passe</h1>
    <div class="container">
      <div class="cta-form">
        <img src="/assets/img/background.jpeg" style="height: 100%;margin-bottom: 50px; " alt="">
      </div>
      <form action="" class="form" [formGroup]="PasswordForm">

        <input type="hidden" formControlName="token" id="token">
        <input type="password" placeholder="Nouveau mot de password" formControlName="newPassword" class="form__input" id="password" />
        <label for="email" class="form__label">Nouveau Mot de Passe</label>
  
        <input type="password" placeholder="confirme votre nouveau mot de passe" formControlName="confirmPassword" class="form__input" id="subject" />
        <label for="subject" class="form__label">Confirme Nouveau Mot de Passe</label>
        


        <button type="submit" class="btn btn-success button" (click)="handleSubmit(); openSpinner()" [disabled]="(PasswordForm.invalid)">validé</button>
      </form>
    </div>

  </body>
</html>
<app-footer></app-footer>