<h1 style="text-align: center; text-decoration: underline; margin: 20px;">The View of All FILES</h1>

<!-- 
 <div class="actions">
	<button style="margin-right:10px" (click)="selectDocumentType('doc')">Doc</button>
	<button style="margin-right:10px" (click)="selectDocumentType('xl')">Excel</button>
	<button style="margin-right:10px" (click)="selectDocumentType('ppt')">PPT</button>
    <button  (click)="selectDocumentType('pdf')">pdf</button>
</div>
<div class="office-viewer">
	<iframe [src]='urlSafe' width='100%' height='100%' frameborder='0'></iframe>
</div>
 -->


 <div>
    <h1>{{ name }}</h1>
    <button (click)="selectDocumentType('doc')">DOC</button>
    <button (click)="selectDocumentType('xl')">XL</button>
    <button (click)="selectDocumentType('ppt')">PPT</button>
    <button (click)="selectDocumentType('pdf')">PDF</button>
    <button (click)="selectDocumentType('image')">Image</button>
  </div>
  
  <iframe *ngIf="!urlSafe.toString().endsWith('.pdf') && !urlSafe.toString().endsWith('.jpg')" [src]="urlSafe" width="100%" height="500px"></iframe>
  
  <div *ngIf="urlSafe.toString().endsWith('.pdf')">
    <embed [src]="urlSafe" type="application/pdf" width="100%" height="500px" />
  </div>
  
  <div *ngIf="urlSafe.toString().endsWith('.jpg')">
    <img [src]="urlSafe" alt="Local Image" width="100%" />
  </div>